body {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 70px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__logo {
    margin-bottom: 20px;
}

.nav__logo-img {
    width: 373px;
    height: 64px;
}

.nav__title {
    font-size: 30px;
    letter-spacing: 9px;
    font-weight: normal;

    margin: 0;
    margin-bottom: 57px;
    padding: 7px 8px;

    color: #765446;

    background-image: linear-gradient(339deg, #f7f7f7 10%, #e6e5e5 50%, #fdfdfd 90%);

    box-shadow: 0px 6px 16.9px 1.1px rgba(0, 0, 0, 0.25);
}

.nav__list {
    list-style: none;

    width: 1360px;
    padding: 0;
    margin: 0;
    margin-bottom: 39px;

    display: flex;
    justify-content: space-between;
}

.nav__item a {
    color: #765446;

    font-size: 35px;
    line-height: 66.2px;
    letter-spacing: 1.75px;

    text-decoration: none;
}

.about-us {
    margin-bottom: 93px;
}

.about-us__wrapper {
    padding-top: 600px;
    margin-bottom: 246px;

    background-image: url("../img/about-us.png");
    background-repeat: no-repeat;

    position: relative;
}

.about-us__wrapper::after {
    content: "";

    position: absolute;
    top: 99px;
    right: 52px;

    width: 880px;
    height: 400px;

    background-color: #cad7e0;
    opacity: 0.8;

    z-index: 5;
}

.about-us__caption {
    position: absolute;

    margin: 0;
    padding: 83px 29px 77px 89px;
    width: 763px;

    top: 154px;
    right: 115px;

    font-size: 60px;
    line-height: 66.2px;
    letter-spacing: 3px;
    font-weight: normal;

    color: #765446;

    background-image: linear-gradient(325deg, #d7d7d7, #ffffff);

    z-index: 10;
}

.about-us__caption span {
    text-transform: lowercase;

    margin-left: 239px;
}

.about-us__wrap {
    background-image: url("../img/description.png");
    background-repeat: no-repeat;
    background-position: 101px 0;

    position: relative;
}

.about-us__wrap::before {
    content: "";

    position: absolute;
    top: -134px;
    left: 0;

    width: 860px;
    height: 860px;

    background-image: linear-gradient(327deg, #f7f7f7 10%, #e6e5e5 50%, #fdfdfd 90%);

    z-index: -1;
}

.about-us__title {
    padding: 16px 27px 2px 176px;

    position: absolute;

    top: -93px;
    left: 801px;

    z-index: -1;

    background-color: #cad7e0;

    box-shadow: 0 5px 9.5px 0.5px rgba(0, 0, 0, 0.25);

    font-size: 55px;
    line-height: 66.2px;
    letter-spacing: 2.75px;

    color: #765446;
}

.about-us__description-wrap {
    padding: 76px 55px 8px 1054px;
}

.about-us__description-wrap p {
    margin-top: 0;
    padding: 0;

    font-size: 35px;
    line-height: 66.2px;
    text-transform: none;

    color: #765446;
}

.about-us__description {
    margin-bottom: 67px;
}

.about-us__suggest {
    margin-bottom: 0;
}

.assortment {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.title {
    margin: 0;
    padding: 13px 0 4px;
    margin-bottom: 115px;

    color: #765446;

    background-color: #cad7e0;
    box-shadow: 0 5px 9.5px 0.5px rgba(0, 0, 0, 0.25);

    width: 640px;

    font-size: 55px;
    line-height: 66.2px;
    letter-spacing: 2.75px;
}

.assortment__list {
    margin: 0;
    padding: 0;
    margin-bottom: 64px;

    list-style: none;

    display: flex;
    justify-content: space-between;

    width: 90%;
}

.assortment__item {
    padding-top: 510px;

    position: relative;

    font-size: 35px;
    line-height: 70px;
    text-transform: none;

    width: 450px;

    color: #765446;

    text-align: center;
}

.assortment__item::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 450px;
    height: 450px;

    background-repeat: no-repeat;
}

.assortment__item:nth-child(2)::after {
    top: 479px;
}

.assortment__item:last-child::after {
    top: 477px;
}

.assortment__item:first-child::before {
    background-image: url(../img/item1.png);
}

.assortment__item:nth-child(2)::before {
    background-image: url(../img/item2.png);
}

.assortment__item:last-child::before {
    background-image: url(../img/item3.png);
}

.assortment__item::after {
    content: "";

    position: absolute;
    top: 476px;
    left: 15px;

    width: 420px;
    height: 15px;

    background-color: #765446;

    box-shadow: 0 6px 16.9px 1.1px rgba(0, 0, 0, 0.25);
}

.brands {
    background-image: linear-gradient(340deg, #d7d7d7, #ffffff);

    padding: 28px 151px 64px 101px;

    text-align: center;

    margin-bottom: 136px;
}

.brands__title {
    margin: 0;
    padding: 0;
    margin-bottom: 62px;

    font-size: 40px;
    line-height: 70px;

    color: #765446;
}

.brands__list {
    margin: 0;
    padding: 0;

    width: 100%;

    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order {
    text-align: center;

    margin-bottom: 136px;
}

.order__title {
    margin: 0 auto 113px;
}

.order__wrapper {
    display: flex;
    justify-content: space-between;

    padding-left: 58px;
}

.form {
    width: 810px;
    padding: 87px 42px 57px 52px;

    box-shadow: 0 6px 16.9px 1.1px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(327deg, #f7f7f7 10%, #e6e5e5 50%, #fdfdfd 90%);
}

.form__wrapper {
    margin: 0;
    padding: 0;

    width: 790px;
}

.form__input,
.form__textarea {
    width: 100%;

    font-size: 30px;
    line-height: 30px;
}

.form__input {
    margin-bottom: 19px;
    padding: 10px 10px 0;
}

.form__input:last-child {
    margin-bottom: 30px;
}

.form__textarea {
    padding: 20px 10px 120px;
}

.order__text {
    padding: 0;
    padding-top: 35px;
    padding-right: 114px;
    margin: 0;
    

    font-size: 35px;
    line-height: 70px;
    text-transform: none;
    
    width: 736px;

    text-align: left;
}

.contacts {
    text-align: center;
}

.contacts__title {
    margin: 0 auto 113px;
}

.contacts__wrapper {
    display: flex;
    justify-content: center;
}

.contacts__wrap {
    text-align: right;

    width: 710px;
    padding-top: 48px;
    padding-right: 16px;

    font-size: 35px;
    line-height: 70px;
    text-transform: none;
}

.contacts__address {
    margin: 0;
    padding: 0;
    margin-bottom: 67px;
}

.contacts__text {
    margin: 0;
    padding: 0;
}

.contacts__map {
    padding-top: 102px;

    position: relative;
}

.contacts__map::after {
    content: "";

    position: absolute;
    top: 0;
    left: 41px;

    width: 864px;
    height: 517px;

    z-index: -1;

    background-image: url("../img/map-background.png");
    background-repeat: no-repeat;
}

.footer {
    margin-top: 215px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1807px;
}

.footer__social-list {
    margin: 0;
    padding: 0;
    margin-right: 145px;
    padding-top: 47px;

    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 200px;
}

.footer__social-item {
    width: 38px;
    height: 38px;
}

.footer__social-item:first-child {
    background-image: url("../img/vk-1.png");
}

.footer__social-item:nth-child(2) {
    background-image: url("../img/facebook.png");
}

.footer__social-item:last-child {
    background-image: url("../img/instagram.png");
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 14px;
}

.footer__logo {
    margin-bottom: 17px;
}

.footer__title {
    font-size: 20px;
    letter-spacing: 6px;

    margin: 0;
    padding: 0;
    padding: 9px 25px 8px 24px;

    background-image: linear-gradient(332deg, #f7f7f7 10%, #e6e5e5 50%, #fdfdfd 90%);
}

.footer__address {
    margin: 0;
    padding: 0;
    padding-top: 40px;

    font-size: 30px;
    line-height: 40px;
    letter-spacing: 1.5px;
    text-transform: none;

    width: 335px;
    text-align: right;
}


