body {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 70px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__logo {
    margin-bottom: 27px;
}

.nav__logo-img {
    width: 373px;
    height: 64px;
}

.nav__title {
    font-size: 30px;
    line-height: 66.2px;
    letter-spacing: 9px;
    font-weight: normal;

    margin: 0;
    margin-bottom: 75px;
    padding: 7px 8px;

    color: #765446;

    background-image: linear-gradient(339deg, #f7f7f7 10%, #e6e5e5 50%, #fdfdfd 90%);

    box-shadow: 0px 6px 16.9px 1.1px rgba(0, 0, 0, 0.25);
}

.nav__list {
    list-style: none;

    width: 1920px;
    padding: 0 284px;
    margin: 0;
    margin-bottom: 62px;

    display: flex;
    justify-content: space-between;
}

.nav__item a {
    color: #765446;

    font-size: 35px;
    line-height: 66.2px;
    letter-spacing: 1.75px;

    text-decoration: none;
}

.about-us {
    margin-bottom: 110px;
}

.about-us__wrapper {
    padding-top: 600px;
    margin-bottom: 246px;

    background-image: url("../img/about-us.png");
    background-repeat: no-repeat;

    position: relative;
}

.about-us__wrapper::after {
    content: "";

    position: absolute;
    top: 99px;
    right: 52px;

    width: 880px;
    height: 400px;

    background-color: #cad7e0;
    opacity: 0.8;

    z-index: 5;
}

.about-us__caption {
    position: absolute;

    margin: 0;
    padding: 83px 29px 103px 89px;
    width: 879px;

    top: 154px;
    right: 117px;

    font-size: 60px;
    line-height: 66.2px;
    letter-spacing: 3px;
    font-weight: normal;

    color: #765446;

    background-image: linear-gradient(325deg, #d7d7d7, #ffffff);

    z-index: 10;
}

.about-us__caption span {
    text-transform: lowercase;

    margin-left: 277px;
}

.about-us__wrap {
    background-image: url("../img/description.png");
    background-repeat: no-repeat;

    position: relative;
}

.about-us__title {
    padding: 26px 36px 18px 185px;

    position: absolute;

    top: -109px;
    left: 690px;

    z-index: -1;

    background-color: #cad7e0;

    box-shadow: 0 5px 9.5px 0.5px rgba(0, 0, 0, 0.25);

    font-size: 55px;
    line-height: 66.2px;
    letter-spacing: 2.75px;

    color: #765446;
}

.about-us__description-wrap {
    padding: 91px 55px 8px 1054px;
}

.about-us__description-wrap p {
    margin-top: 0;
    padding: 0;

    font-size: 35px;
    line-height: 66.2px;
    text-transform: none;

    color: #765446;
}

.about-us__description {
    margin-bottom: 60px;
}

.about-us__suggest {
    margin-bottom: 0;
}

.assortment {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.assortment__title {
    margin: 0;
    padding: 23px 93px 19px 92px;
    margin-bottom: 115px;

    color: #765446;

    background-color: #cad7e0;
    box-shadow: 0 5px 9.5px 0.5px rgba(0, 0, 0, 0.25);

    width: 640px;

    font-size: 55px;
    line-height: 66.2px;
    letter-spacing: 2.75px;
}

.assortment__list {
    margin: 0;
    padding: 0;
    margin-bottom: 84px;

    list-style: none;

    display: flex;
    justify-content: space-between;

    width: 100%;
}

.assortment__item {
    padding-top: 530px;

    position: relative;

    font-size: 35px;
    line-height: 70px;
    text-transform: none;

    width: 450px;

    color: #765446;

    text-align: center;
}

.assortment__item::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 450px;
    height: 450px;

    background-repeat: no-repeat;
}

.assortment__item:first-child::before {
    background-image: url(../img/item1.png);
}

.assortment__item:nth-child(2)::before {
    background-image: url(../img/item2.png);
}

.assortment__item:last-child::before {
    background-image: url(../img/item3.png);
}

.assortment__item::after {
    content: "";

    position: absolute;
    top: 476px;
    left: 15px;

    width: 420px;
    height: 15px;

    background-color: #765446;

    box-shadow: 0 6px 16.9px 1.1px rgba(0, 0, 0, 0.25);
}

.brands {
    background-image: linear-gradient(340deg, #d7d7d7, #ffffff);

    padding: 46px 98px 64px 153px;

    text-align: center;

    margin-bottom: 141px;
}

.brands__title {
    margin: 0;
    padding: 0;
    margin-bottom: 81px;

    font-size: 40px;
    line-height: 70px;

    color: #765446;
}

.brands__list {
    margin: 0;
    padding: 0;

    width: 100%;

    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}